header {
    background-color: rgb(73, 100, 255);
    border-bottom: 2px solid rgb(0, 38, 255);
    height: 40px;
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight: 900;
    color: aliceblue;
}